h1 {
	color:white;
	font-size:40px;
	text-decoration:underline;
	background-color:red;
	background-image:url("bg.png");
}

h2 {
	width: 150px;
	height: 150px;
	background-color: pink;
}

h2 a {
	text-decoration: none;
	width: 150px;
	height: 150px;
	display: block;
}

.line1 {
	color: red;
}

#para1 {
	color: blue;
}

#block1 {
	width: 150px;
	height: 150px;
	background-color: red;
	margin: 0 0 0 50px;
	padding: 0 0 0 30px;
	border: dotted 10px;
	float: left;
}

#block2 {
	width: 150px;
	height: 150px;
	border: solid 1px;
	float: left;
}

#block3 {
	width: 200px;
	height: 200px;
	border: solid 1px;
	float: left;
}
